<header>
  <div class="header-left">
    <%= link_to "YomuBeshi", root_path, class:"logo" %>
  </div>
  <div class="header-right">
    <ul class="menu-ul">
      <li><%= link_to "トップページ", root_path, class:"menu-li" %></li>
      <li><%= link_to "使い方", root_path, class:"menu-li" %></li>
      <li><%= link_to "新規投稿", new_book_path, class:"menu-li" %></li>
    </ul>
  </div>
</header>